
<nav class="navbar-header">
  <div class="flex-spacer" style="text-align:center">
    <h1 style="color: white">
      Welcome to {{title}}!
    </h1>
  </div>
</nav>

<div class="justify-content-center" class="d-flex" style="margin-top: 20px ">

<mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin:auto">
  <mat-button-toggle value="db" (change)="onValChange($event.value)">Database</mat-button-toggle>
  <mat-button-toggle value="file"(change)="onValChange($event.value)">File</mat-button-toggle>
</mat-button-toggle-group>

</div>


<div class="tabela">
  <app-log-table #LogTable [dataSources]="dataSource"> </app-log-table>
</div>




